@import "reset.css";

/*
borrowing Tailwind's breakpoints:
48rem (768px)	  @media (width >= 48rem) { ... }
64rem (1024px)  @media (width >= 64rem) { ... }
80rem (1280px)  @media (width >= 80rem) { ... }
96rem (1536px)  @media (width >= 96rem) { ... }
*/

:root {
  --light-blue: hsl(210 77.8% 85.9%); /* #BFDBF7 */
  --dark-blue: hsl(209 77% 12%); /* #071F36 */
  --ivory: hsl(73 52.9% 96.7%); /* #F9FBF2 */
  --seagreen: hsl(186 75% 28.2%); /* #12747e */
  --txt-sm: 0.875rem;
  --txt: 1rem;
  --txt-lg: 1.2rem;
  --txt-5: 1.44rem;
  --txt-4: 1.73rem;
  --txt-3: 2.07rem;
  --txt-2: 2.49rem;
  --txt-1: 2.99rem;
}

* {
  letter-spacing: 0.125px;
}

*:focus {
  outline: 2px solid var(--seagreen);
  outline-offset: 2px;
}

p {
  font-size: var(--txt);
}

h6 {
  font-size: var(--txt-lg);
}

h5 {
  font-size: var(--txt-5);
}

h4 {
  font-size: var(--txt-4);
}

h3 {
  font-size: var(--txt-3);
}

h2 {
  font-size: var(--txt-2);
}

h1 {
  font-size: var(--txt-1);
}
