form {
  display: grid;
  gap: 0.75rem;
  inline-size: 85cqw;
  margin: 0 auto;

  @media (width >= 48rem) {
    & {
      inline-size: 60cqw;
    }
  }

  @media (width >= 64rem) {
    & {
      inline-size: 45cqw;
    }
  }

  @media (width >= 80rem) {
    & {
      inline-size: 30cqw;
    }
  }
}

label {
  display: grid;
  gap: 0.25rem;
}

label:last-of-type {
  margin-bottom: 0.25rem;
}

input {
  border-radius: 0.25rem;
  padding: 0.25rem 0.375rem;
  border-color: var(--dark-blue);
}

.error {
  block-size: 1.5rem;
  font-weight: 600;
  text-decoration: underline wavy var(--seagreen);
  text-underline-offset: 0.375rem;
}
