.taskWrapper {
  inline-size: 100%;
  block-size: 100%;
  display: grid;
  place-items: center;
}

.openBtn {
  background: none;
  color: inherit;
  border: none;
  inline-size: 100%;
  block-size: 100%;
  
  & p {
    font-size: var(--txt-sm);
  }

  &:focus {
    outline-offset: 0.25rem;
    border-radius: 0.125rem;
  }
}

.closeBtn {
  background: var(--dark-blue);
  color: var(--light-blue);
  justify-self: end;
}

.doneBtn {
  background: var(--dark-blue);
  color: var(--light-blue);

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

::backdrop {
  opacity: 0.85;
  background-color: var(--dark-blue);
}

dialog {
  background-color: var(--light-blue);
  border-radius: 0.25rem;
  border: 2px solid var(--dark-blue);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--txt);
}

form {
  display: grid;
  gap: 1.25rem;
}

.taskPicker {
  display: grid;
  gap: 0.5rem;
  justify-items: center;
}

.complete {
  display: grid;
  gap: 0.5rem;

  & p {
    justify-self: center;
  }

  & label {
    margin-left: 0.25rem;
  }
}
