---
export const prerender = false;
import Pitch from "@components/Pitch.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { db, Profiles, eq } from "astro:db";

let activeUser = "";
const userId = await Astro.cookies?.get("userId");
if (userId) {
  const user = await db
    .select()
    .from(Profiles)
    .where(eq(Profiles.id, userId.value));
  activeUser = user.length > 0 ? user[0].name : "";
}
---

<MainLayout>
  <section>
    <h1>Little Victories</h1>
    {activeUser !== "" ? <p>signed in </p> : <Pitch />}
  </section>
</MainLayout>

<style>
  section {
    max-inline-size: 95cqw;
    margin: 0 auto;

    @media (width >= 64rem) {
      & {
        max-inline-size: 70cqw;
      }
    }

    @media (width >= 80rem) {
      & {
        max-inline-size: 60cqw;
      }
    }

    @media (width >= 96rem) {
      & {
        max-inline-size: 50cqw;
      }
    }
  }

  h1 {
    text-align: center;
    margin: 1rem auto;
    font-weight: 800;
  }
</style>
