---
import LinkButton from "@components/LinkButton.astro";
import ProfileSearchForm from "@components/ProfileSearchForm";
import MainLayout from "@layouts/MainLayout.astro";
import { db, Profiles } from "astro:db";

const allProfiles = await db.select().from(Profiles);
---

<MainLayout>
  <h1>Find Your Profile</h1>
  <ProfileSearchForm allProfiles={allProfiles} client:load>
    <LinkButton text="Create Profile" href="/create-profile" />
  </ProfileSearchForm>
</MainLayout>
<style>
  h1 {
    text-align: center;
    margin: 1rem auto;
    font-weight: 800;
  }
</style>
