---
interface Props {
  text: String;
  href: string | URL;
  inverseColor?: Boolean;
}

const { text, href, inverseColor = false } = Astro.props;

const bgColor = !inverseColor ? "var(--dark-blue)" : "var(--light-blue)";
const txtColor = !inverseColor ? "var(--light-blue)" : "var(--dark-blue)";
---

<a href={href}>{text}</a>

<style define:vars={{ bgColor, txtColor }}>
  a {
    padding: 0.5rem 0.75rem;
    background-color: var(--bgColor);
    color: var(--txtColor);
    border-radius: 0.25rem;
    font-weight: 500;
    text-decoration: none;
  }
</style>
