---
import { db, eq, Profiles } from "astro:db";
import Button from "./Button.astro";
import LinkButton from "./LinkButton.astro";

let activeUser = "";
const userId = await Astro.cookies?.get("userId");
if (userId) {
  const user = await db
    .select()
    .from(Profiles)
    .where(eq(Profiles.id, userId.value));
  activeUser = user.length > 0 ? user[0].name : "";
}
---

<nav>
  <a href="/" class="home">Little Victories</a>
  {
    activeUser !== "" ? (
      <div>
        <p>Welcome back, {activeUser}</p>
        <Button text="Log Out" inverseColor action="logout" />
      </div>
    ) : (
      <LinkButton text="Sign In" href="/pick-profile" inverseColor />
    )
  }
</nav>

<style>
  nav {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.5rem 1rem;
  }

  a {
    color: var(--light-blue);
    text-underline-offset: 0.25rem;
  }

  .home {
    font-weight: 600;
    font-size: var(--txt-lg);
    text-decoration: none;
  }

  div {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    justify-items: center;
    gap: 1rem;
  }
</style>
