---
// Supports weights 200-800
import NavBar from "@components/NavBar.astro";
import "@fontsource-variable/plus-jakarta-sans";
import "@styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="https://fav.farm/⛵" />
    <meta name="generator" content={Astro.generator} />
    <title>Little Victories</title>
  </head>
  <body>
    <NavBar />
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    inline-size: 100%;
    block-size: 100%;
  }

  body {
    font-family: "Plus Jakarta Sans Variable", sans-serif;
    background: var(--light-blue, #bfdbf7);
    color: var(--dark-blue, #071f36);
    display: grid;
    grid-template-rows: max-content 1fr;
  }

  main {
    container: main / inline-size;
    inline-size: 100%;
  }
</style>
